<br>
<br>
<footer>
  <div class="container">
    <div class="text-center">
      <small>
        <a href="/policies/tou", class="black-color no-text-decoration">利用規約</a>   |   <a href="/policies/privacy", class="black-color no-text-decoration">プライバシーポリシー</a>   |   <a href="/policies/transaction", class="black-color no-text-decoration">特定商取引法に基づく取引</a>   |   <a href="/policies/creator", class="black-color no-text-decoration">クリエイターガイドライン</a>   |   <a href="/policies/client", class="black-color no-text-decoration">クライアントガイドライン</a>
      </small>
    </div>
    <div class="text-center">
      <p>
        Copyright © <span class="orange-color">M</span>odel<span class="blue-color">M</span>e
      </p>
    </div>
  </div>
</footer>
<br>
<br>



