.col-12{
  padding-top: 20px;
}

//underline
.under{
  border-bottom: solid 3px #7bc3d1;
}

//user-show
.bg-blue{
  background-color: #7bc3d1;
}
.white{
  color: #fff;
  font-weight: bold;
}
.under-white{
  border-bottom: solid 3px #fff;
}
.my-black{
  color:rgb(110, 118, 125);
  
}

//effect
.effect-fade{
  opacity: 0;
  transform : translate(0, 45px);
  transition : all 1500ms;
}
.effect-fade.effect-scroll{
  opacity: 1;
  transform : translate(0, 0);
}

//top back
.bg-wb{
  background: url("~grid.jpg") no-repeat center top;
  background-size:cover;
  background-color:rgba(255,255,255,0.7);
  background-blend-mode:lighten;
}
.ff{
  font-family: 'YuMincho';
}

//要素隠す

/*全体*/
.hidden_box {
  
  padding: 0;
}

/*ボタン装飾*/
.hidden_box label {
  padding: 5px;
  font-weight: bold;
  border: solid 2px black;
  cursor :pointer;
}

/*ボタンホバー時*/
.hidden_box label:hover {
  background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
  display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}


//文字数制限
@media screen and (min-width:960px){
  .max-350px {
    display: block;
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .max-150px{
    display: block;
    width: 80px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .profile-icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  table{
    width: 50%;
    border-collapse: collapse;
  }
  .js-text_field{
    width: 50%;
  }
  //矢印
  .arrow {
    display:inline-block;
    height:30px;
    width:700px;
    background-color:#fc8f36;
    position:relative;
    top:40px;
  }

  .arrow:before {
    position:absolute;
    content:"";
    width:0;
    height:0;
    border:60px solid transparent;
    border-left:60px solid #fc8f36;
    left:700px;
    top:-45px;
  }
}
@media screen and (min-width:600px) and (max-width:960px){
  .max-350px {
    display: block;
    width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .max-500px {
    display: block;
    width: 500px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .profile-icon{
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  table{
    width: 80%;
    border-collapse: collapse;
  }
  .js-text_field{
    width: 80%;
  }
  //矢印
  .arrow {
    display:inline-block;
    height:30px;
    width:200px;
    background-color:#fc8f36;
    position:relative;
    top:40px;
  }

  .arrow:before {
    position:absolute;
    content:"";
    width:0;
    height:0;
    border:60px solid transparent;
    border-left:60px solid #fc8f36;
    left:200px;
    top:-45px;
  }
  
  
}
@media screen and (max-width:600px){
  .max-350px {
    display: block;
    width: 350px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .max-500px {
    display: block;
    width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .row{
    padding: 0px !important;
  }
  .mb-3{
    margin-bottom: 0px !important;
  }
  .profile-icon{
    height: 25px;
    width: 25px;
    border-radius: 50%;
  }
  .col-md-7{
    padding: 0px;
  }
  table{
    width: 100%;
    border-collapse: collapse;
  }
  .js-text_field{
    width: 100%;
  }
  .container{
    margin: 0px !important;
  }
  .container{
    margin-left: 0px !important;
    margin-right: 0px !important;
    max-width: 100% !important;
  }
  .row .col{
    padding-right: 0px;
    padding-left: 0px;
  }
  .col{
    padding-left: 0px;
    padding-right: 0px;
  }
  //矢印
  .arrow {
    display:inline-block;
    height:30px;
    width:200px;
    background-color:#fc8f36;
    position:relative;
    top:40px;
  }

  .arrow:before {
    position:absolute;
    content:"";
    width:0;
    height:0;
    border:60px solid transparent;
    border-left:60px solid #fc8f36;
    left:200px;
    top:-45px;
  }
} 

.col-md-5{
  padding: 0px;
}

//gradation-border
.sample {
  
  border: 2px solid rgba(0, 0, 0, 0.125);
}

.sample1 {
  border-bottom: 1px solid rgb(192, 192, 192);
}

//list-group
.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}


//font
.cf{
  font-family: Neucha,cursive;
  color: inherit;
  text-decoration: none;
  font-size: 10px;
  font-weight: 400;
}


//image
.mb-3 .row{
  margin: 0px;
}




//グラフ
.bg-graf {
  height: 15px;
  width: 100%;
  display: flex;
  flex-direction: column; /* 要素を縦に並べる */
  justify-content: space-evenly; /* 要素を均等間隔に分散させる */
}

.item {
  box-sizing: border-box;
  background-color: #bbf117;
  padding: 4px;
  height: 28px;
  
}
/* 項目のキャプションが折り返してしまわないように設定 */
.item_label {
  white-space: nowrap;
}
/* 各要素の長さ */



p {
  color: #EEEEEE;
}
.col-md-8 h7{
 float: left;
}
.col-md-8 small{
  float: left;
}




//background-post-show
.bg-black{
  background: #252525;
}
.bg-gray{
  background: #444444;
}

p{
  color: #252525;
}
.bg-blue{
  background-color: rgb(224, 253, 253);
}


//color
.white-color{
  color: #fff;
}
.margin-top{
  padding-top: 10px;
}

.green-color{
  color: #c6ff00;
}
.yellow-color{
  color: #ffea00;
}
.margin{
  margin-left: 20px;
}

.link-color{
  color: #00e5ff;
}







*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

::-webkit-input-placeholder {
  color: #56585b;
}

::-moz-placeholder {
  color: #56585b;
}

:-moz-placeholder {
  color: #56585b;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.top {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background: url('https://source.unsplash.com/G8rRItjrwkA') no-repeat center center fixed;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #0a0a0b;
  overflow: hidden;
}

a {
  
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}
.top a {
  color: #fff;
}
a:hover {
  opacity: 1;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  
  margin: 2.5rem 0 1.5rem;
}

i {
  font-size: 1.3rem;
}



a.btn {
  color: #fff;
  padding: 10px;
  border: 1px solid rgba(255,255,255,0.5);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a.btn:hover {
  background: #d73851;
  border: 1px solid #d73851;
  color: #fff;
}

.cover  {
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.05)), to(rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
  padding: 20px 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  
  -webkit-box-align: center;
  align-items: center;
}

.flex-form input[type="submit"] {
  background: #ef3f5a;
  border: 1px solid #ef3f5a;
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.flex-form input[type="submit"]:hover {
  background: #d73851;
  border: 1px solid #d73851;
}

.flex-form {
  display: -webkit-box;
  display: flex;
  z-index: 10;
  position: relative;
  width: 500px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}

input[type="search"] {
  flex-basis: 500px;
}

#madeby {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 25px 100px;
  color: #fff;
}

@media all and (max-width:800px) {
  body {
    font-size: 0.9rem;
  }

  .flex-form {
    width: 100%;
  }

  input[type="search"] {
    flex-basis: 100%;
  }

  .flex-form > * {
    font-size: 0.9rem;
  }

  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 10px !important;
  }

  header h2 {
    margin-bottom: 15px;
  }

  h1 {
    font-size: 2rem;
  }

  .cover {
    padding: 20px;
  }

  #madeby {
    padding: 30px 20px;
  }
}

@media all and (max-width:360px) {
  header nav li{
    margin: 0 10px;
  }

  .flex-form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  input[type="search"] {
    flex-basis: 0;
  }

  label {
    display: none;
  }
}










table th{
  border-bottom: solid 2px #fb5144;
  padding: 10px 0;
  background-color: transparent;
  color: #EEEEEE;
  font-weight: bold;
}

table td{
  border-bottom: solid 2px #ddd;
  background-color: transparent;
  text-align: center;
  padding: 10px 0;
  color: #EEEEEE;
  font-weight: bold;
}




//countdown
.countDown {
  margin: 10px 0;
  text-align: center;
  
}
.countDownText {
  border: 1px solid #000;
  padding: 5px;
  
}



.orange-color{
  color: #fc8f36;
}
.blue-color{
  color: #0084ff;
}
.bold{
  font-weight: 300;
}
.salmon{
  color: #fc4d50;
  font-weight: bold;
}
.bg-salmon{
  background: #fc4d50;
}
.margin-top-bottom{
  margin-top: 5px;
  margin-bottom: 5px;
}








//横揺れ
html {
  overflow-x: hidden;
}




/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

/*利用規約のデザイン*/
.Inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

p{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}

.Inner-Headline {
  font-weight: bold;
  font-size: 32px;
}
@media screen and (max-width: 480px) {
  .Inner-Headline {
    font-size: 24px;
  }
}
.Inner-Text {
  letter-spacing: 0.05em;
  line-height: 1.8;
  font-size: 15px;
}
.Inner-Text.first {
  margin-top: 36px;
}
.Inner-Box {
  margin-top: 16px;
}
.Inner-Box-Headline {
  font-weight: bold;
  font-size: 28px;
}
.Inner-Box-Headline2 {
  font-size: 20px;
}
.Inner-Box-Headline3 {
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .Inner-Box-Headline {
    font-size: 20px;
  }
}
.Inner-Box-List {
  margin: 20px 0 0 40px;
}
.Inner-Box-List-Item {
  margin-top: 10px;
  letter-spacing: 0.05em;
  line-height: 1.8;
  list-style-type: decimal;
}
.Inner-Box-List-Item-Ol {
  margin: 20px 0 0 40px;
}
.Inner-Box-List-Item-Ol-Item {
  margin-top: 10px;
  letter-spacing: 0.05em;
  line-height: 1.8;
  list-style-type: decimal;
}
.Inner-Box-List-Item-Link {
  text-decoration: underline;
  display: inline-block;
  color: red;
}
.Inner-Box-Contact {
  margin-top: 36px;
}
.Inner-Box-Contact-Text {
  letter-spacing: 0.05em;
  line-height: 1.8;
  font-size: 15px;
}
.Inner-Box-Contact-Text:nth-child(2) {
  margin-top: 16px;
}
.Inner-Box-Item {
  letter-spacing: 0.05em;
  line-height: 1.8;
  font-size: 15px;
}
@media screen and (max-width: 480px) {
  .Inner-Box-Item {
    letter-spacing: inherit;
    font-size: 14px;
  }
}





//要素の高さ揃える

.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}
  

//card-border
.card-border{
  border-style: 5px solid black;
}





